body {
    background-color: #111827;
    font-family: sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 205px;
}

#calculator-screen {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 204px;
}

#previous-operation {
    color:#ffffff80;
    font-size: 12px;
    padding: 0 10px;
    margin: 10px 0 0 0;
}

#current-calculation {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    margin: 10px 0;
}

.row {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border:0.1px solid #252525;
}

.number {
    background-color: #000;
}

.operator {
    background-color:#252525
}

.functional {
    background-color: #3d0900;
}

.equals {
    background-color: #b87c0e;
}


button {
    background-color: #00000000;
    color: #fff;
    font-weight: bold;
    border: none;
    width: 100%;
    height:100%;
}